<form name="userForm" novalidate ng-class="{forward: direction, backward: !direction}">
  <div class="col-xs-8 col-xs-offset-2 question-container">
    <div ng-animate-swap="currentPage" class="question-panel">
      <div class="form-group" data-ng-repeat="question in userQuestionnaire.questions | limitTo: questionsPerPage : currentPage*questionsPerPage"
        data-ng-class="{ 'has-error': userForm['question_' + $index].$touched && userForm['question_' + $index].$invalid }">
        <label for="question_{{$index}}" data-ng-class="{'required': question.isRequired }">
          {{question.text}}
        </label>
        <input type="text" class="form-control" name="question_{{$index}}" data-ng-if="question.type == 'text'" data-ng-attr-placeholder="{{question.placeholder}}"
          data-ng-model="question.answer" data-ng-required="question.isRequired">

        <select class="form-control" name="question_{{$index}}" data-ng-if="question.type == 'select' || question.type == 'boolean'"
          data-ng-options="x for x in question.options" data-ng-attr-placeholder="{{question.placeholder}}" data-ng-model="question.answer"
          data-ng-required="question.isRequired">
        </select>
        <div class="help-block" data-ng-messages="userForm['question_' + $index].$error" data-ng-if="userForm['question_' + $index].$touched">
          <p data-ng-message="required">An answer to this question is mandatory.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <div class="form-group row">
      <div class="col-xs-12">
        <div class="progress" style="height:20px;">
          <div class="progress-bar" data-ng-class="progress() == 100 && !userForm.$invalid ? 'progress-bar-success' : 'progress-bar-info progress-bar-striped active'"
            role="progressbar" aria-valuenow="{{progress()}}" aria-valuemin="0" aria-valuemax="100" data-ng-style="{'width': progress() + '%' }"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <div class="form-group row">
      <div class="col-xs-6 pull-left">
        <a data-ng-disabled="currentPage == 0" class="btn btn-block btn-info" data-ng-click="previous()">
          <span class="glyphicon glyphicon-circle-arrow-left"></span>
          Back
        </a>
      </div>
      <div class="col-xs-6 pull-right" data-ng-if="currentPage <= userQuestionnaire.questions.length/questionsPerPage - 1">
        <a data-ng-disabled="currentPage >= userQuestionnaire.questions.length/questionsPerPage - 1 || userForm.$invalid" class="btn btn-block btn-info"
          data-ng-click="next()">
          Next
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
      </div>
      <div class="col-xs-6 pull-right" data-ng-if="currentPage >= userQuestionnaire.questions.length/questionsPerPage - 1 && !userForm.$invalid">
        <a data-ng-disabled="userForm.$invalid" class="btn btn-block btn-success" data-ng-click="save()">
          Save
          <span class="glyphicon glyphicon-floppy-saved"></span>
        </a>
      </div>
    </div>
  </div>
</form>